.container-fluid {
    overflow-y: auto;
    margin-left: 10px !important;
    margin-right: 10px !important;
    font-family: Arial, Helvetica, sans-serif;
}

.longinput {
    width: 453px;
    margin-bottom: 11px;
}

select,
input {
    padding: 2px 2px 2px 5px;
    background: #fef5cd;
    border: 1px solid #000;
}