<!-- main app container -->
<div class="jumbotron">
    <div class="container">
         <div class="mdl-layout__header-row">

            <!-- Title -->
            <span class="mdl-layout-title">Job Specialist</span>

            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>

            <!-- Navigation with router directives-->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link linkColor" [routerLink]="['/']">Home</a>
                <a class="mdl-navigation__link linkColor" [routerLink]="['/']">Register</a>
                <a class="mdl-navigation__link linkColor" [routerLink]="['/employer']">Employer</a>
            </nav>
        </div>
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
