<form [formGroup]="applyJobForm" novalidate (ngSubmit)="onApply(applyJobForm)" class="form-horizontal">
    <h4 class="mdl-dialog__title">Apply Job</h4>

    <div class="mdl-dialog__content">
        <label id="q" class="questionText">Email Address*</label>
        <div class="questionInput">
            <mdl-textfield name="email" type="email" formControlName="email" id="email" class="longQuestionTB"></mdl-textfield>
        </div>
        <div class="error" *ngIf=" applyJobForm.get('email') && applyJobForm.get('email').hasError('required')">
            Email address is required
        </div>
        <div id="cv" class="cvPanel">
            <span id="qcv" class="cvQuestion primary">Attach a CV *</span>;

            <div class="cvInput">
                <div id="filUpload" class="filupload left">
                    <input type="file" accept=".pdf,.doc,.docx" name="filCV" id="filCV" (change)="fileChangeEvent($event)" placeholder="Upload file..." formControlName="cv" class="fileupload">
                </div>
            </div>

        </div>

        <div id="app2" class="AppOptContainer left ccUni">
            <div id="ans" class="questionblock">
                <span id="q" class="questionText">First Name</span>
                <div class="questionInput">
                    <input name="firstName" id="firstName" type=" text " class="longQuestionTB ">
                </div>
                <div id="ans " class="questionblock ">
                    <span id="q " class="questionText ">Last Name</span>
                    <div class="questionInput ">
                        <input name="lastName " type="text " id="lastName " class="longQuestionTB ">
                    </div>
                    <div id="ans " class="questionblock2 ">
                        <span id="q " class="questionText ">Address</span>
                        <div class="questionInput ">
                            <textarea name="address " rows="3 " cols="20 " id="address " class="longQuestionTB "></textarea>
                        </div>

                    </div>

                    <div id="ans " class="questionblock ">
                        <span id="q " class="questionText ">Availability/Notice</span>
                        <div class="questionInput ">
                            <select name="availability " id="availability ">
                      <option selected="selected " value=" "></option>
                      <option value="Immediate ">Immediate</option>
                      <option value="1 Week ">1 Week</option>
                      <option value="2 Weeks ">2 Weeks</option>
                      <option value="3 Weeks ">3 Weeks</option>
                      <option value="1 Month ">1 Month</option>
                      <option value="3 Months ">3 Months</option>
                      <option value=">3 Months">&gt;3 Months</option>
                    </select>

                        </div>

                        <div id="ans" class="questionblock">
                            <span id="q" class="questionText">Hourly Rate GBP <span class="qmand"></span>
                            <div class="questionInput">
                                <select name="rateRequired" id="rateRequired">
                                  <option selected="selected" value=""></option>
                                  <option value="0 - £10 Per Hour">0 - £10 Per Hour</option>
                                  <option value="£10 - £20 Per Hour">£10 - £20 Per Hour</option>
                                  <option value="£20 - £30 Per Hour">£20 - £30 Per Hour</option>
                                  <option value="£30 - £40 Per Hour">£30 - £40 Per Hour</option>
                                  <option value="£40 - £50 Per Hour">£40 - £50 Per Hour</option>
                                  <option value="£50 - £65 Per Hour">£50 - £65 Per Hour</option>
                                  <option value="£65 - £80 Per Hour">£65 - £80 Per Hour</option>
                                  <option value="£80 - £100 Per Hour">£80 - £100 Per Hour</option>
                                  <option value=">£100">&gt;£100</option>
	                              </select>
                            </div>
                            <div id="ans" class="questionblock">
                                <span id="q" class="questionText">Approximately how far are you willing to travel to work (in miles) ?</span>
                                <div class="questionInput">
                                    <select name="distanceAllowed" id="distanceAllowed">
                          <option selected="selected" value=""></option>
                          <option value="Up to 5">Up to 5</option>
                          <option value="Up to 15">Up to 15</option>
                          <option value="Up to 30">Up to 30</option>
                          <option value="Up to 50">Up to 50</option>
                          <option value="50+">50+</option>
                </select>
                                </div>

                                <div class="mdl-dialog__actions">
                                    <button type="submit" mdl-button [disabled]="!applyJobForm.valid" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Apply</button>
                                </div>